* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: #000000;
  --main-color: #458ff6;
  --title-color: #000000;
  --text-color: #7d7987;
  --alt-text-color: #ffffff;
  --h1-size: 48px;
  --h2-size: 36px;
  --h3-size: 24px;
  --h4-size: 20px;
  --text-size: 18px;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.d-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section-title {
  position: relative;
  padding-bottom: 30px;
}
.section-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 1px;
  background-color: var(--black);
}
.section-description {
  line-height: 1.6;
  font-size: var(--text-size);
  color: var(--text-color);
}
.section-btn {
  display: block;
  width: 150px;
  padding: 10px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 20px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
